
.titulo {
  padding: 1px;
  text-align: center;
  font-size: 50px;

  margin:auto
}

body {
  background-image:url(https://media.istockphoto.com/vectors/pop-art-gallows-rope-loop-hanging-icon-isolated-on-color-background-vector-id1271984032?k=20&m=1271984032&s=612x612&w=0&h=GhuJZpdF_HAGegeZnVlWhpGOXKGOVizelxY-OptKdY4=);
  font-family: sans-serif;
  background-size: cover;
  width: 70%;  
}

.tareas {
  
  width: 70%;
  max-width: 100px;
  
  
  
}

#areaJuego{
  display: none;
  height: 100vh;
  justify-content: center;
  width: 100%;
  margin :auto;
  position:absolute;
 
}
#nombreJuego{
  
  font-size: 30px;
  padding: 18px;
  color: rgb(15, 15, 15);
}

.btn {  
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 3px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 40%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}


#palabraSecreta {
  max-width: 100%;
  font-family:georgia,serif;
  font-size: 25px;
  letter-spacing: 3px;
  padding: 10px; 
  text-align: center;
  white-space: nowrap;
  color: blue;
  
  
}


#letrasError {
  font-family: georgia,serif;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 15px;
  color: rgb(250, 36, 20);
}


#vida {
  font-size: 20px;
  color: blue;
}

#inicio {
  font-size: 7rem;
  position: absolute;
  width:100%

}

#ahorcado {
 
  background-color: yellow; 
  width: 100%;
  
  
}
.mensaje {
  position: absolute;
  display: block;

  margin-left: auto;
  margin-right: auto;
  width: 40%;
  top: 8em
  

  
  
}


#abecedario {
  
  background-color: aquamarine;
  border-radius: 2px;
  
  padding : 5px;
  text-align: center;

    
}



#perdedor {
  position: absolute;
  
  font-size: 20px;
  top:20em;
  text-align: center;
  color: rgb(243, 57, 128);
}
#ganador {
  position: absolute;
  top:20em;
  text-align: center;
  font-size: 20px;
  color: rgb(73, 226, 43);

}
.realizado{  
  color: rgb(38, 218, 47);
  background-color:royalblue ;
  text-align: center;
  width: 100%;
  max-width: 100%;

  position: fixed;
  bottom: 0px;
  
}
@media screen and(min-with :300px) and (max-width:800px){
  .inicio{
    width :100%;
  
  }
  #areaJuego{
    width: 100%;
  }
  body{
    width:100%
  }
  .mensaje {
    width:30%;
   
    
  

  }
}